.main_admin_content {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 70px);
}

.admin_menu {
  width: 20%;
  min-height: 100%;
  background-color: white;
  padding: 250px 0 10px 10px;
  text-align: right;
  font-size: 24px;
}

.admin_menu:hover {
  cursor: pointer;
}

.admin_menu_list {
  margin-right: 50px;
  margin-top: 0;
}

.admin_menu_list_item {
  margin-top: 20px;
  list-style: none;
  transition: color 0.2s linear;
}

.admin_menu_list_item:hover {
  color: darkgrey;
}
#screen {
  min-height: 100%;
  width: 80%;
  padding: 260px 2rem 2rem 2rem;
  color: black;
  font: 1.3rem "Inconsolata", monospace;
  text-shadow: 0 0 5px #C8C8C8;
  overflow-y: scroll;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

#list_screen {
  margin-top: 50px;
}

.admin_screen_btn {
  outline: none;
  background: none;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  color: black;
  border-radius: 5px;
  margin: 0.85em 0;
  width: 150px;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

.terminal_input {
  outline: none;
  background: none;
	border: none;
  font: 1.3rem Inconsolata, monospace;
  color: #696969;
  border-bottom: 1px solid;
  width: 400px;
}

.terminal_input_select {
  outline: none;
  background: none;
  border: none;
  font: 1.3rem Inconsolata, monospace;
  color: #696969;
  width: 400px;
}

.terminal_input_select optgroup {
  font-size: 16px;
  width: auto;
}
.terminal_input_file {
  outline: none;
  background: none;
	border: none;
  font: 1.3rem Inconsolata, monospace;
  margin: auto 0;
}
.input_file_span {
  display: flex;
  justify-content: flex-start;
}
.admin_news_textarea {
  height: 200px;
  resize: none;
}

.terminal_span {
  font-weight: bold;
  margin-left: 20px;
}

.interactive_button_container {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.interactive_control_panel {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 65%;
}

.interactive_control_panel_row {
  line-height: 2em;
  display: grid;
  grid-template-columns: 20% 80%;
}

.interactive_control_panel_file_upload {
  line-height: 2em;
  display: flex;
  flex-direction: column;
}

input[type=checkbox]:checked + label{
  color: red;
}

@media (max-width: 1199px) {
  .interactive_control_panel {
    width: 90%;
  }
  .admin_menu {
    font-size: 20px;
    line-height: 1.2em;
  }
  .terminal_input, .terminal_input_select {
    width: 300px;
  }

  .admin_result_list_item {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .admin_menu_list {
    margin-right: 10px;
    padding-left: 20px;
  }
  .admin_result_list_item, .terminal_input_select optgroup {
    font-size: 14px;
  }
}
@media (max-width: 899px) {
  .admin_menu {
    font-size: 16px;
    text-align: left;
    padding: 150px 20px 5px 5px;
    line-height: 1em;
  }
  .interactive_control_panel_row {
    grid-template-columns: 30% 70%;
    font-size: 18px;
  }
  .admin_result_list_item, .terminal_input_select optgroup {
    font-size: 13px;
  }
  .terminal_input_file {
    font-size: 16px;
  }
}
@media (max-width: 649px) {
  .admin_menu {
    font-size: 14px;
    padding: 150px 20px 5px 5px;
  }
  .admin_menu_list {
    padding-left: 5px;
  }
  .interactive_control_panel_row {
    font-size: 16px;
  }
  .terminal_input, .terminal_input_select {
    width: 250px;
  }
  .admin_result_list_item, .terminal_input_select optgroup {
    font-size: 12px;
  }
  .admin_menu, .interactive_control_panel_file_upload {
    font-size: 16px;
  }
}
@media (max-width: 549px) {
  #screen {
    padding-left: 10px;
    padding-right: 10px;
  }
  .interactive_control_panel_row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  .terminal_input, .terminal_input_select {
    width: auto;
  }
  .admin_menu, .interactive_control_panel_file_upload, .terminal_input_file {
    font-size: 14px;
    text-align: left;
  }
}
@media (max-width: 349px) {
  .interactive_button_container {
    width: 100px;
  }
  .interactive_control_panel_radio {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    font-size: 12px;
  }
  .admin_screen_btn {
    font-size: 12px;
    width: 90px;
  }
  .admin_result_list_item, .terminal_input_select optgroup {
    font-size: 10px;
  }
  .admin_menu, .interactive_control_panel_file_upload, .terminal_input_file {
    font-size: 10px;
  }
}
@media (max-width: 219px) {
  .admin_result_list_item, .terminal_input_select optgroup {
    font-size: 8px;
  }
  .admin_menu, .interactive_control_panel_file_upload, .terminal_input_file {
    font-size: 8px;
  }
}
