/* main-container */
.main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* top-container */
.start-container {
  min-height: 100vh;
}

.top-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

/* standard-container */
.standard-container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.standard-container:last-child {
  margin-bottom: 80px;
}

.container-name {
  margin: 0 0 0 10%;
  font-size: 32px;
}

.border-plane-container {
  position: relative;
  width: 100%;
  height: auto;
}

.standard-container-line {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  left: 0;
  width: 85%;
  border: none;
  background-color: black;
  color: black;
  height: 2px;
}

.svg-plane-icon {
  height: 50px;
  width: 65px;
  position: absolute;
  top: -1.3em;
  right: -1em;
}

/*user container*/

.user-container {
  margin: 4em auto 0 10%;
  width: 72%;
  height: auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

#user-icon-container {
  width: 150px;
  height: 150px;
}
#user-icon-image {
  width: 150px;
  height: 150px;
}

.user-data-container {
  margin: auto 0;
}

#user__name, #user__count {
  width: 50%;
  margin: auto 0;
  text-align: center;
  font-weight: bold;
}

.password__change__button {
  width: 180px;
  padding: 5px;

}

.password__change__button__img {
  width: 180px;
}

.password__change__button__img:active {
  transform: scale(0.95);
}
/*news container*/

.news-container {
  margin: 2em 13% 0 0;
  display: flex;
  flex-direction: row;
}

#news__icon {
  position: relative;
  width: 150px;
  height: 150px;
}

#news__icon__img {
  width: 150px;
  height: 150px;
}

.news-theme-container {
  margin: auto;
  padding: 10px;
}

#news-theme {
  text-decoration: none;
  color: black;
  text-align: center;
}

.news-grid-container {
  position: relative;
  margin-left: 10%;
  width: 77%;
  display: grid;
  grid-template-columns: 50% 50%;
  outline: none;
}

.files-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  outline: none;
}

.files-whole-container {
  position: relative;
  margin-left: 10%;
  width: 77%;
}

.expandArrow {
  position: relative;
  cursor: pointer;
  margin: 55px auto 0 auto;
  width: 66px;
  height: 30px;
}
.expandArrow-left {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.expandArrow-left:after {
  content: "";
  background-color: #09173f;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.expandArrow-right {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.expandArrow-right:after {
  content: "";
  background-color: #09173f;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}
.open .expandArrow-left:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .expandArrow-right:after {
  transform-origin: center center;
  transform: rotate(70deg);
}

@media (max-width: 1199px) {
  .news-grid-container, .files-grid-container {
    grid-template-columns: 100%;
  }
}
@media (max-width: 1023px) {
  .user-profile-container {
    padding: 30px 0 0 0;
    margin: auto 10%;
    flex-direction: column;
  }
  .user-data-container {
    margin: auto;
  }
  #user-icon-container {
    margin-top: 50px;
  }
}

@media (max-width: 899px) {
  .user-data-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .password__change__button, .password__change__button__img {
    width: 150px;
  }

  #user__name {
    margin-bottom: 20px;
  }
  #user__name, #user__count {
    width: 100%;
  }
}

@media (max-width: 649px) {
  .user-container {
    width: 80%;
  }
  .news-container {
    width: 100%;
  }
  #news-theme {
    font-size: 16px;
  }
}
@media (max-width: 549px) {
  .user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px ;
  }
  .password__change__button {
    margin: auto;
  }
  #user-icon-container {
    margin: auto;
  }
  .news-container {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .news-grid-container {
    margin: 50px auto 0 auto;
  }
  .files-whole-container {
    width: 100%;
    margin: 0;
  }

  .files-grid-container {
    width: 100%;
    margin: auto;
  }
  #news__icon{
    margin: auto;
  }
  .standard-container-line {
    width: 95%;
  }
  .svg-plane-icon {
    width: 30px;
  }
  #no__files {
    margin-left: 10%;
  }
}

@media (max-width: 349px) {
  .user-container {
    margin: 50px auto 0 auto;
    width: 100%;
  }
  #user-icon-container {
    margin: auto;
  }
  .news-container {
    margin: 50px auto 0 auto;
    width: 100%;
  }
  #news__icon, #news__icon__img {
    height: 100px;
    width: 100px;
  }
  .svg-plane-icon {
    right: -0.5em;
  }
  .password__change__button, .password__change__button__img {
    width: 150px;
  }
  #news-theme {
    font-size: 14px;
  }
  .news-grid-container, .news-container, .files-grid-container {
    margin-top: 10px;
  }
}

@media (max-width: 219px) {
  #news__icon, #news__icon__img {
    height: 80px;
    width: 80px;
  }
  .password__change__button, .password__change__button__img {
    width: 100px;
  }
  #user__name, #user__count, #news-theme {
    font-size: 12px;
  }
}
