.content {
	box-sizing: border-box;
  min-height: calc(100vh - 70px);
  padding-top: 200px;
	padding-bottom: 30px;
}

.main-change-pass-container {
  padding: 10px;
  margin: 100px auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.message_screen {
	word-wrap: break-word;
	margin: 50px 150px;
}

@media (max-width: 1199px) {

}
@media (max-width: 1023px) {

}
@media (max-width: 899px) {
	.main-change-pass-container {
		flex-direction: column;
		margin: 2em 5em 0 5em;
	}
	.message_screen {
		margin: 50px auto 0 auto;
	}
}
@media (max-width: 649px) {

}
@media (max-width: 549px) {
	.main-change-pass-container {
		margin: 2em auto 0 auto;
	}
	.message_screen {
		margin: 30px auto 0 auto;
	}
}
@media (max-width: 349px) {

}
@media (max-width: 219px) {

}
