.questionnaire-form {
  width: 80%;
  height: auto;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.questionnaire_interactive_control_panel_row {
  line-height: 2em;
  display: grid;
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
}
.personal_data_agreement_container {
  margin-top: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"] {
  margin-top: -5px;
}

.questionnaire_terminal_input {
  outline: none;
  background: none;
	border: none;
  font: 1.3rem Inconsolata, monospace;
  color: #696969;
  border-bottom: 1px solid;
  width: 90%;
}

.terminal_input_quatro {
  outline: none;
  background: none;
	border: none;
  font: 1.3rem Inconsolata, monospace;
  color: #696969;
  border-bottom: 1px solid;
  width: 85%;
}

.questionnaire_interactive_control_panel_row_quatro {
  grid-template-columns: 33.33333% 22.22222% 22.22222% 22.22222%;
}

.questionnaire_children_container {
  line-height: 2em;
  display: grid;
  grid-template-columns: 33.33333% 66.66666%;
}

.questionnaire_children_row {
  line-height: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
}

.remove_child_btn {
  position: absolute;
  right: 20px;
  top:-30px;
}

.questionnaire_save_btn {
  height: auto;
  display: flex;
  justifyContent: flex-end;
  marginTop: 10px;
}

@media (max-width: 1549px) {
  .questionnaire-form {
    width: 90%;
  }
}
@media (max-width: 1399px) {
  .questionnaire_interactive_control_panel_row {
    grid-template-columns: 30% 35% 35%;
  }
  .questionnaire_interactive_control_panel_row_quatro {
    grid-template-columns: 30% 23.33333% 23.33333% 23.33333%;
  }
  .questionnaire_children_container {
    line-height: 2em;
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
@media (max-width: 1299px) {
  .questionnaire-form {
    width: 95%;
  }

}
@media (max-width: 1023px) {

  .questionnaire_interactive_control_panel_row,
  .questionnaire_interactive_control_panel_row_quatro,
  .questionnaire_children_container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .personal_data_agreement_container {
    flex-direction: row;
  }
  .terminal_input_quatro {
    width: 90%;
  }
}
@media (max-width: 949px) {

}
@media (max-width: 899px) {
  .questionnaire_children_row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 649px) {
  .questionnaire_interactive_control_panel_row,
  .questionnaire_interactive_control_panel_row_quatro,
  .questionnaire_children_container {
    width: 90%;
  }
}
@media (max-width: 549px) {

}
@media (max-width: 349px) {
  .questionnaire_interactive_control_panel_row,
  .questionnaire_interactive_control_panel_row_quatro,
  .questionnaire_children_container {
    width: 95%;
  }
}
@media (max-width: 219px) {

}
