.react-tabs {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding-right: 80px;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #09173f;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #ececec;
  border-color: #09173f;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px #09173f;
  border-color: #09173f;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #ececec;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

@media (max-width: 549px) {
  .react-tabs {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding-right: 0;
    display: flex;
  }

  .react-tabs__tab-list {
    border-right: 1px solid #09173f;
    border-bottom: none;
    margin: 0 10px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .react-tabs__tab {
    writing-mode:vertical-rl;
    transform:scale(-1);
    display: inline-block;
    border: 1px solid transparent;
    border-left: none;
    right: -1px;
    position: relative;
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
  }

  .react-tabs__tab--selected {
    background: #ececec;
    border-color: #09173f;
    color: black;
    border-radius: 0 5px 5px 0;
  }

  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }

  .react-tabs__tab:focus {
    box-shadow: 0 0 5px #09173f;
    border-color: #09173f;
    outline: none;
  }

  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 100%;
    left: -15px;
    right: 100%;
    bottom: 0;
    background: #ececec;
  }

  .react-tabs__tab-panel {
    display: none;
    width: 100%;
  }

  .react-tabs__tab-panel--selected {
    display: block;
  }
}
