.inner_news_container {
  width: 80%;
  margin: 100px auto auto auto;
  display: flex;
  flex-direction: column;
  text-indent: 1.5em;
}

.news_text {
  font-family: 'Jura';
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

@media (max-width: 1199px) {

}
@media (max-width: 1023px) {

}
@media (max-width: 899px) {

}
@media (max-width: 649px) {
  .inner_news_container {
    text-indent: 1.2em;
    font-size: 14px;
  }
  .inner_news_container h1 {
    font-size: 18px;
  }
}
@media (max-width: 549px) {

}
@media (max-width: 349px) {

}
@media (max-width: 219px) {
  .inner_news_container {
    text-indent: 1em;
    font-size: 12px;
  }
  .inner_news_container h1 {
    font-size: 14px;
  }
}
