@import "./styles/main-page.css";
@import "./styles/header.css";
@import "./styles/footer.css";
@import "./styles/authentication.css";
@import "./styles/passwordActions.css";
@import "./styles/singleNew.css";
@import "./styles/adminPage.css";
@import "./styles/react-tabs.css";

@font-face {
font-family: "Jura";
src: url("./fonts/Jura/Jura-VariableFont_wght.ttf") format("truetype");
}

@font-face {
font-family: "Inconsolata";
src: url("./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
}
